*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--bg-main);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 5rem;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.app-link {
  background-color: $c_primary;
  border-radius: .4rem;
  color: $c_text;
  cursor: pointer;
  display: inline-block;
  font-size: .8rem;
  line-height: 1.2;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: var(--transition3);

  &:hover {
    opacity: .7;
  }
}
